@page
@model aDealerEDVMS.RazorWebApps.ToanHH.Pages.Dealers.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>DealersHht</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DealersHht.DealerName" class="control-label"></label>
                <input asp-for="DealersHht.DealerName" class="form-control" />
                <span asp-validation-for="DealersHht.DealerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DealersHht.DealerCode" class="control-label"></label>
                <input asp-for="DealersHht.DealerCode" class="form-control" />
                <span asp-validation-for="DealersHht.DealerCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DealersHht.Address" class="control-label"></label>
                <input asp-for="DealersHht.Address" class="form-control" />
                <span asp-validation-for="DealersHht.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DealersHht.Phone" class="control-label"></label>
                <input asp-for="DealersHht.Phone" class="form-control" />
                <span asp-validation-for="DealersHht.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DealersHht.Email" class="control-label"></label>
                <input asp-for="DealersHht.Email" class="form-control" />
                <span asp-validation-for="DealersHht.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DealersHht.EstablishedDate" class="control-label"></label>
                <input asp-for="DealersHht.EstablishedDate" class="form-control" />
                <span asp-validation-for="DealersHht.EstablishedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DealersHht.Rating" class="control-label"></label>
                <input asp-for="DealersHht.Rating" class="form-control" />
                <span asp-validation-for="DealersHht.Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DealersHht.LastAudit" class="control-label"></label>
                <input asp-for="DealersHht.LastAudit" class="form-control" />
                <span asp-validation-for="DealersHht.LastAudit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DealersHht.CreatedBy" class="control-label"></label>
                <input asp-for="DealersHht.CreatedBy" class="form-control" />
                <span asp-validation-for="DealersHht.CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
